services:

  app:
    build: .
    container_name: SFASM
    ports:
      - "${SERVER_PORT}:8083"
    env_file:
      - .env
    depends_on:
      - mongodb
      - ollama
    restart: unless-stopped

  mongodb:
    image: mongo:6.0
    container_name: SFASM-mongo
    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  ollama:
    image: ollama/ollama
    container_name: SFASM-ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped

volumes:
  mongo-data:
  ollama-data:
